ul li{
    display: inline-block;
    list-style-type: none; 
}

.tit{
    margin-top: 65px;
    text-align: center;
    color:white;
    text-shadow: 3px 5px 0 rgba(0,0,0,0.2);
    font-size: 55px;
}
.chang{
    height:200px;
    border:2px solid black;
    background:blue;
}

.esp{
    margin-top: 15px;
}

nav {
  background:#26C6DA;
  top:0;
  width: 100%;
  transition:all 0.5s;
  position: relative;
  z-index: 1;
}

nav ul {
  margin: 0;
  padding:0;
  list-style: none;
  display:flex;
}

nav li {
  flex:1;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav a {
  text-decoration: none;
  padding:20px;
  display: inline-block;
  color:white;
  transition:all 0.2s;
  text-transform: uppercase;
}

body.fixed-nav nav {
  position: fixed;
  box-shadow:0 5px 0 rgba(0,0,0,0.1);
}
.fixed-nav li.logo {
  max-width:500px;
}

li.logo {
  max-width:0;
  overflow: hidden;
  background: white;
  transition: all 0.5s;
  font-weight: 600;
  font-size: 30px;
}

.site-wrap {
  max-width: 900px;
  margin: 70px auto;
  background:white;
  padding:40px;
  text-align: justify;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.05);
  transform: scale(0.98);
  transition: transform 0.5s;
}

body.fixed-nav .site-wrap {
  transform: scale(1.3);
}

li.logo a {
  color:black;
}

.fixed-nav li.logo {
  max-width:500px;
}

.marg{
    margin-top:10px;
    margin-left:-55px;
}

h2{
    font-size: 55px;
}

.fonthigh{
    font-size: 25px;
    text-align: justify;
}