<div class=" container " >
        <form class="form-inline ">
          <label for="" style="margin-top:25px;">Search:</label>
          <label style="margin-left:25px;" class="">Movies:</label>
          <input type="text" class="form-control" ng-model="searchBox.title" Placeholder="Whrite to search" style="margin-left:5px; width: 500px;">
          <button class="btn btn-primary"><span class="glyphicon glyphicon-search"></span></button>
          <label for="" style="margin-left:75px;">Order by</label>
          <select class="form-control" ng-model="sortBooks">
            <option value="id">ID</option>
            <option value="title">Title</option>
            <option value="author">Author</option>
     		<option value="editorial">Editorial</option>
          </select>
        </form>
    </div>
    <div class="container site-wrap" style="margin-top:50px;">
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="book in data | filter: searchBox | orderBy: sortBooks" ng-show="book.available" style="border:2px solid #E3F2FD">
                <!--<a href="#"><h3>{{book.title}}</h3></a>    -->
                <div class=" media" style="margin-bottom:30px; margin-left: 15px;">
                    <div class="media-left media">
                        <a href="#book"><img ng-src="{{book.img}}" alt="" height="200px;"></a>
                    </div>
                    <div class=" media-body">
                       <!--<small>{{book.id}}</small>-->
                       <a media="media-heading"><p>{{book.title}}  <button class=" btn btn-sm glyphicon glyphicon-trash"  ng-click="removeBook(book)"></button> </p></a>
                       <small class="pull-right" style="margin-top:-25px;"><i>{{book.posted}}</i></small>
                       <h4 class="text-success">{{book.editorial}}</h4> 
                       <p class="text-info" style="margin-top:-10px;">{{book.description}}</p>
                     </div> 
               </div>
            </li>
        </ul>
    </div> 



