   <header>
    <div class="container-fluid">
    <div class="row chang">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <h1 class="tit">Flander's BOOKS</h1>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 marg">
        <img src="public/img/redbox.jpg" alt="" height="150px">
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 marg">
        <img src="public/img/flanders.gif" alt="" height="150px">
    </div>                      
    </div>
    </div>
    </header>
    <nav id="main">
    <ul>
      <li class="logo"><a href="#">Books</a></li>
      <li><a onclick="welcome()">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Books of the year</a></li>
      <li><a href="#">Stores</a></li>
      <li><a href="#">Contac us</a></li>
    </ul>
  </nav> 
